@model IEnumerable<electronic_store.DataModel.viewDetailsInvoice_Result>
@{
    ViewBag.Title = "Invoice Details";
}
<br />
<br />
<div class="panel panel-primary">
    <div class="panel-heading" style="padding-top:25px;padding-bottom:25px;">
        <h1 class="panel-title text-center" style="font-size:20px;">My Invoice Details</h1>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Invoice Information</h2>
    </div>
    <div class="panel-body">
        @{
            DateTime? fecha=null;
            string name = "";
            double precioTotal = 0;
            //int invoice = 0;
        }
        <table class="table table-bordered table-hover">
            <tr class="warning">
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td style="display:none;">@(fecha = item.FacturaFecha)</td>
                        <td style="display:none;">@(name = item.Cliente)</td>
                        <td style="display:none;">@(precioTotal = precioTotal + item.PrecioProducto)</td>
                        <td>@item.Nombre</td>
                        <td>@item.Cantidad</td>
                        <td>@string.Format("{0:C}",item.PrecioProducto)</td>
                    </tr>
                </tbody>
            }
            <thead>
                <tr class="info">
                    <th colspan="3">Customer: @name</th>
                </tr>
                <tr class="info">                    
                    <th>Invoice Date: @fecha</th>
                    <th colspan="2">Total Price: @string.Format("{0:C}", precioTotal) </th>
                </tr>
                <tr></tr>
            </thead>
        </table>
    </div>
</div>
<div>
    <a class="btn btn-primary btn-sm" style="font-size:11px;" href="~/Facturas/viewInvoiceUser">Back To Invoices</a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
