@model IEnumerable<electronic_store.Models.Wishlist>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<div class="row">
    <div class="navbar navbar-default" style="margin-top:20px;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div>
                    @Html.ActionLink("< HOME >", "LayoutAdmin", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Customer", "Index", "Clientes")</li>
                    <li>@Html.ActionLink("Category", "Index", "Categorias")</li>
                    <li>@Html.ActionLink("Product", "Index", "Productoes")</li>
                    <li>@Html.ActionLink("Attribute", "Index", "Atributoes")</li>
                    <li>@Html.ActionLink("Supplier", "Index", "Proveedors")</li>
                    <li>@Html.ActionLink("Role", "ProfileRoles", "Role")</li>
                    <li>@Html.ActionLink("Search Products", "List", "Productoes")</li>
                    <li>@Html.ActionLink("Report Invoices", "AllFacturas", "Facturas")</li>
                    <li>@Html.ActionLink("All Collections", "viewAllCollections", "Productoes")</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Supplier Information - Supplier Control</h2>
    </div>
    <div class="panel-body">
        <table id="dataTables1" class="table table-bordered table-hover">
            <thead>
                <tr class="info">
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductoID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCreado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaActualizado)
                    </th>
                    <th style="text-align:center;">Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductoID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCreado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaActualizado)
                        </td>
                        <td class="btn-group-xs text-center">
                            @Html.ActionLink("Edit", "Edit", new { id = item.IDWishlist }) |
                            @Html.ActionLink("Details", "Details", new { id = item.IDWishlist }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IDWishlist })
                        </td>
                    </tr>
                }
        </table>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/dataTable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/dataTable/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/dataTable/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/dataTable/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#dataTables1").dataTable();
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
