@model electronic_store.Models.Producto

@{
    ViewBag.Title = "Create Product";
}
<br />
<div class="panel panel-primary">
    <div class="panel-heading" style="padding-top:25px;padding-bottom:25px;">
        <h1 class="panel-title text-center" style="font-size:20px;">Create Product</h1>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Create Product</h2>
        </div>
        <div class="panel-body">
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre,"Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">U</span>
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Precio,"Price/U", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IDCategoria, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">C</span>
                        @Html.DropDownList("IDCategoria", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDCategoria, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IDProveedor, "Supplier", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">S</span>
                        @Html.DropDownList("IDProveedor", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDProveedor, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br />
                    <input type="submit" value="Create Now" class="btn btn-success btn-sm" />
                    <button type="reset" class="btn btn-warning btn-sm"><strong>Cancel</strong></button>
                </div>
            </div>
            <br />
        </div>
    </div>
}
<div>
    <a class="btn btn-primary btn-sm" style="font-size:11px;" href="~/Productoes/Index">Back To List</a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
