
@model IEnumerable<electronic_store.Models.Producto>
@{
    ViewBag.Title = "All Collections";
}


@using (Html.BeginForm())
{
    <br />
    <div class="row">
        <div class="navbar navbar-default" style="margin-top:20px;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div>
                        @Html.ActionLink("< HOME >", "LayoutAdmin", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Customer", "Index", "Clientes")</li>
                        <li>@Html.ActionLink("Category", "Index", "Categorias")</li>
                        <li>@Html.ActionLink("Product", "Index", "Productoes")</li>
                        <li>@Html.ActionLink("Attribute", "Index", "Atributoes")</li>
                        <li>@Html.ActionLink("Supplier", "Index", "Proveedors")</li>
                        <li>@Html.ActionLink("Role", "ProfileRoles", "Role")</li>
                        <li>@Html.ActionLink("Search Products", "List", "Productoes")</li>
                        <li>@Html.ActionLink("Report Invoices", "AllFacturas", "Facturas")</li>
                        <li>@Html.ActionLink("All Collections", "viewAllCollections", "Productoes")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Product Information - Products Control</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Product Name" name="productName">
                            <span class="input-group-btn">
                                <button type="submit" value="Search" class="btn btn-success">Search</button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Category Name" name="categoryName">
                            <span class="input-group-btn">
                                <button type="submit" value="Search" class="btn btn-success">Search</button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <input type="text" class="form-control" placeholder="Price Initial" name="priceInitial">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Price Final" name="priceFinal">
                            <span class="input-group-btn">
                                <button type="submit" value="Search" class="btn btn-success">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="info">
                        <th>
                            Product Name
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Supplier
                        </th>
                        <th>
                            Unit Price
                        </th>
                        <th>
                            Stock
                        </th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categorias.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Proveedors.Nombre)
                        </td>
                        <td>
                            @string.Format("{0:C}", @item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stock)
                        </td>
                        <td class="btn btn-group text-center">
                            <a class="btn btn-info btn-xs" style="font-size:11px;" href="~/Productoes/Details/@item.IDProducto">View</a>
                            <a class="btn btn-warning btn-xs" style="font-size:11px;" href="~/Productoes/Edit/@item.IDProducto">Edit</a>
                            <a class="btn btn-danger btn-xs" style="font-size:11px;" href="~/Productoes/Delete/@item.IDProducto">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
