<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Electronic Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/dataTable/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/dataTable/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/dataTable/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/dataTable/css/jquery.dataTables.min.css" rel="stylesheet" />
    @using Microsoft.AspNet.Identity
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("< Electronic Store >", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About Us<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profile Customer<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Invoices", "viewInvoiceUser", "Facturas")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Wish And Car<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a type="button" class="btn btn-default btn-sm" href="~/ShopCars/Index"><spam class="glyphicon glyphicon-shopping-cart "></spam></a>
                                </li>
                                <li>
                                    <a type="button" class="btn btn-default btn-sm" href="~/Wishlists/viewWishlist"><spam class="glyphicon glyphicon-heart "></spam></a>
                                </li>
                            </ul>
                        </li>*@
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Customer Profile<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @{
                                    string idUser = User.Identity.GetUserName();
                                    string ids = User.Identity.GetUserId();
                                }
                                <li>@Html.ActionLink("Profile Details", "ProfileUser", "Clientes", new { id = idUser })</li>
                                <li></li>
                            </ul>
                        </li>*@
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        @{
                            string productName = "";
                        }
                        <input type="text" class="form-control" placeholder="Product Name" name="productName">
                    </div>
                    <button type="submit" value="Search" class="btn btn-success" href="~/Productoes/List/@productName">Search</button>
                </form>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a type="button" class="btn btn-default btn-xs" href="~/ShopCars/Index"><spam class="glyphicon glyphicon-shopping-cart" style="color:yellow;font-size:18px;"></spam></a>
                    </li>
                    <li>
                        <a type="button" class="btn btn-default btn-xs" href="~/Wishlists/viewWishlist"><spam class="glyphicon glyphicon-heart" style="color:red; font-size:18px;"></spam></a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" style="margin-right:30px;">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr style="border-color:red;" />
        <footer class="nav navbar-default">
            <div class="container" style="margin-bottom:8px;margin-top:15px;">
                <p class="m-0 text-center text-white" style="color:white;">Copyright &copy; @DateTime.Now.Year - WSULLIVAN</p>
            </div>
            <!-- /.container -->
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
