@model IEnumerable<electronic_store.Models.Cliente>

@{
    ViewBag.Title = "Customer Control";
}
<br />
<div class="row">
    <div class="navbar navbar-default" style="margin-top:20px;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div>
                    @Html.ActionLink("< HOME >", "LayoutAdmin", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Customer", "Index", "Clientes")</li>
                    <li>@Html.ActionLink("Category", "Index", "Categorias")</li>
                    <li>@Html.ActionLink("Product", "Index", "Productoes")</li>
                    <li>@Html.ActionLink("Attribute", "Index", "Atributoes")</li>
                    <li>@Html.ActionLink("Supplier", "Index", "Proveedors")</li>
                    <li>@Html.ActionLink("Role", "ProfileRoles", "Role")</li>
                    <li>@Html.ActionLink("Search Products", "List", "Productoes")</li>
                    <li>@Html.ActionLink("Report Invoices", "AllFacturas", "Facturas")</li>
                    <li>@Html.ActionLink("All Collections", "viewAllCollections", "Productoes")</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Customer Information - Customer Control</h2>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <a class="btn btn-success btn-sm" style="font-size:12px;" href="~/Clientes/Create">Create New Customer</a>
            <br />
        </div>
        <table id="dataTables1" class="table table-bordered table-hover">
            <thead>
                <tr class="info">
                    <th>
                        Cédula
                    </th>
                    <th>
                        Nombre Completo
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th>
                        Telefono
                    </th>
                    <th>
                        Create At
                    </th>
                    <th>
                        Update At
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Active)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IDUser)
                        </th>*@
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DNI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreApellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaActualizado)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDUser)
                        </td>*@
                    <td class="btn-group-xs text-center">
                        <a class="btn btn-info btn-xs" style="font-size:11px;" href="~/Clientes/Details/@item.IDCliente"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-warning btn-xs" style="font-size:11px;" href="~/Clientes/Edit/@item.IDCliente"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-danger btn-xs" style="font-size:11px;" href="~/Clientes/Delete/@item.IDCliente"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/dataTable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/dataTable/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/dataTable/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/dataTable/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#dataTables1").dataTable();
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}